.DS_Store
.venv/
secrets/
.idea/
*.pyc
**/__pycache__/
codecompasslib/API/datasets/**.csv
codecompasslib/API/**.txt
codecompasslib/models/**.csv
codecompasslib/models/examples/**.csv
codecompasslib/PretrainedModels/
dump.rdb
data/*
